.name {
	font-size: 70%;
	color: #B1A68C;
}

.start, .type {
	margin: 5px 5px;
	padding: 5px 5px;
}

.balance {
	margin: 0px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
}
input {
	width: 50px;
}
#balance {
  color: green;
}
@media (min-width: 992px) {
  	.name {
    	width: 700px;
	}
	.type {
		width: 700px;
	}
}
@media (max-width: 767px) {
  	h1 {
    	font-size: 16px;
  	}
  	#month {
	  	font-size: 10px;
	  	color: gray;
  	}
  	input {
		width: 30px;
		height: 30px;
	}
	button {
		width: 30px;
		height: 30px;
	}
	progress {
		width: 200px;
		padding: 0px 0px 0px 0px;
	}
}
