body {
  background-color: #506372;
 }

 h1 {
 	color: white;
 	text-transform: uppercase;
 }
.button {
	position: absolute;
	left: 280px; 
	top: 20px;
 }
.name {
	font-size: 70%;
	color: #B1A68C;
}

.start, .type {
	margin: 5px 5px;
	padding: 5px 5px;
}

.layout section { 
	position: absolute;
	border-radius: 9px;
}

.daily {
	background-color: white; 
	height: 80px;
	width: 500px;
}

.house {
	background-color: white;
	top: 180px;  
	height: 80px;
	width: 500px;
}

.social {
	background-color: white;
	top: 280px;  
	height: 80px;
	width: 500px;
}

.sport {
	background-color: white;
	top: 380px;  
	height: 80px;
	width: 500px;
}

.style {
	background-color: white;
	top: 480px;  
	height: 80px;
	width: 500px;
}

.balance {
	margin: 10px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
}
button {
	width: 40px;
	height: 40px;
 	background: #5bc3e8;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border: solid 1px #73C8F0;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 25px;
    background: -moz-linear-gradient(0% 100% 90deg, #2E8CE3, #5bc3e8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5bc3e8), to(#2E8CE3));
}
progress {
/*	background-color: #f3f3f3;*/
/*border: 0;*/
	background: #F8F1F1;
	height: 18px;
	width: 200px;
	padding: 0px 0px 0px 0px;
	color: #0063a6;
	font-size: .6em;
	line-height: 1.5em;
	text-indent: .5em;
	border-radius: 9px;
	border: 1px solid white;
	}
progress::-webkit-progress-bar {
	background: #F8F1F1;
	border-radius: 9px;
	border: 1px solid white;

}
progress::-webkit-progress-value {
	background: #888888;
	border-radius: 9px;
	border: 1px solid white;
}

input {
	font-size: 20px;
	width: 30px;
	border: 0px;
	border-bottom: 1px solid #888888;
}

#balance {
  color: green;
}

@media (min-width: 992px) {
  	.name {
    	width: 700px;
	}
	.type {
		width: 700px;
	}
}
@media (max-width: 767px) {
  	h1 {
    	font-size: 16px;
		font-weight: bold;
  	}
  	#month {
	  	font-size: 10px;
	  	color: white;
  	}

	.title {
		font-size: 16px;
	}
	span {
	  	font-size: 10px;
	  	color: gray;		
	}
}
